<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2> Statistics</h2>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Messages Sent</th>
              <th scope="col">Tasks Approved</th>
              <th scope="col">Mros Created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf = "data">
              <td>{{data.messages_sent}}</td>
              <td>{{data.tasks_approved}}</td>
              <td>{{data.mros_created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
