<!-- <div [ngStyle]="{'background' : 'url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/01/607492/c4ab047d7e7e5279b29c83980a590b9f-700.jpg)'}"> -->
<app-header></app-header>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12"> -->
      <router-outlet></router-outlet>
      <!-- <app-palet></app-palet>
      <app-palet2></app-palet2> -->
      <!-- <h2>Assignment</h2> -->
    <!-- </div>
  </div>
</div> -->
<footer class="footer">
      <div class="container">
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
        <div class="text-muted">
          &#169; 2019 Himanshu Patel
        </div>
      </div>
</footer>
<!-- </div> -->
